<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BWP</string>
	<string>SGD</string>
	<string>PEN</string>
	<string>TWD</string>
	<string>BRL</string>
	<string>DZD</string>
	<string>MYR</string>
	<string>SHP</string>
	<string>BDT</string>
	<string>BOB</string>
	<string>TZS</string>
	<string>BSD</string>
	<string>BND</string>
	<string>IQD</string>
	<string>LVL</string>
	<string>BBD</string>
	<string>CRC</string>
	<string>ALL</string>
	<string>ERN</string>
	<string>MVR</string>
	<string>MDL</string>
	<string>GIP</string>
	<string>AFN</string>
	<string>GTQ</string>
	<string>FJD</string>
	<string>RWF</string>
	<string>XCD</string>
	<string>ZAR</string>
	<string>ECS</string>
	<string>NPR</string>
	<string>BYR</string>
	<string>BYN</string>
	<string>PYG</string>
	<string>MXN</string>
	<string>DOP</string>
	<string>MAD</string>
	<string>GBP</string>
	<string>DJF</string>
	<string>CUC</string>
	<string>BHD</string>
	<string>COP</string>
	<string>YER</string>
	<string>USD</string>
	<string>BZD</string>
	<string>MGA</string>
	<string>BTN</string>
	<string>MKD</string>
	<string>KGS</string>
	<string>LSL</string>
	<string>KZT</string>
	<string>KWD</string>
	<string>SOS</string>
	<string>RON</string>
	<string>LBP</string>
	<string>XPD</string>
	<string>SVC</string>
	<string>PKR</string>
	<string>TOP</string>
	<string>XAU</string>
	<string>BMD</string>
	<string>KRW</string>
	<string>KHR</string>
	<string>SDG</string>
	<string>ILS</string>
	<string>CLF</string>
	<string>HNL</string>
	<string>UZS</string>
	<string>VND</string>
	<string>SEK</string>
	<string>ETB</string>
	<string>NOK</string>
	<string>IEP</string>
	<string>EGP</string>
	<string>PHP</string>
	<string>AUD</string>
	<string>GNF</string>
	<string>JPY</string>
	<string>TJS</string>
	<string>LAK</string>
	<string>RSD</string>
	<string>IDR</string>
	<string>MWK</string>
	<string>CVE</string>
	<string>MNT</string>
	<string>CAD</string>
	<string>CZK</string>
	<string>ANG</string>
	<string>QAR</string>
	<string>CUP</string>
	<string>BGN</string>
	<string>AED</string>
	<string>AZN</string>
	<string>MRO</string>
	<string>JOD</string>
	<string>VUV</string>
	<string>EUR</string>
	<string>NIO</string>
	<string>HRK</string>
	<string>JMD</string>
	<string>DKK</string>
	<string>UGX</string>
	<string>LTL</string>
	<string>CDF</string>
	<string>WST</string>
	<string>LRD</string>
	<string>CLP</string>
	<string>XPT</string>
	<string>LYD</string>
	<string>NGN</string>
	<string>THB</string>
	<string>PAB</string>
	<string>OMR</string>
	<string>HKD</string>
	<string>MMK</string>
	<string>TMT</string>
	<string>SBD</string>
	<string>AMD</string>
	<string>ZMW</string>
	<string>KYD</string>
	<string>SZL</string>
	<string>AWG</string>
	<string>PLN</string>
	<string>CYP</string>
	<string>HUF</string>
	<string>XAG</string>
	<string>ARS</string>
	<string>IRR</string>
	<string>TRY</string>
	<string>SAR</string>
	<string>SLL</string>
	<string>XOF</string>
	<string>SYP</string>
	<string>UYU</string>
	<string>SRD</string>
	<string>RUB</string>
	<string>KES</string>
	<string>PGK</string>
	<string>FRF</string>
	<string>GYD</string>
	<string>STD</string>
	<string>GMD</string>
	<string>GHS</string>
	<string>LKR</string>
	<string>KPW</string>
	<string>NAD</string>
	<string>BIF</string>
	<string>UAH</string>
	<string>MUR</string>
	<string>SCR</string>
	<string>XPF</string>
	<string>VEF</string>
	<string>XAF</string>
	<string>NZD</string>
	<string>MZN</string>
	<string>INR</string>
	<string>TND</string>
	<string>ISK</string>
	<string>FKP</string>
	<string>CHF</string>
	<string>GEL</string>
	<string>MOP</string>
	<string>SIT</string>
	<string>KMF</string>
	<string>BAM</string>
	<string>AOA</string>
	<string>CNY</string>
	<string>TTD</string>
	<string>HTG</string>
	<string>BTC</string>
	<string>LTC</string>
</array>
</plist>
